html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
}

/* utilitarias */
.container {
    width: 80%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 0.1em;
    border-radius: 0.5rem;

}

.color-primary {

    background-color: #0F2620;
    color: white;
}

.color-secundary {
    background-color: #7BA69A;
    color: white;
}

.color-danger {
    background-color: #A6444C;
    color: white;
}

.color-light {
    background-color: #DDF2CE;
    color: white;
}

.color-dark {
    color: white;
    background-color: #302c2d;
}

/* header */

.bg-header {
    background-image: url("./img/bg-header-min.jpg");
    height: 18.75em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.205);
    padding: 1.5em 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;

    }

}

.navbar-brand {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
    align-items: center;
    text-decoration: none;

}

@media (min-width: 768px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0em;
    }
}

.navbar-brand img {
    width: 2em;

}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.315);
    padding: 1em;
    border-radius: 0.3em;
}

.nav-link {
    display: inline-block;
    padding: 0.3em;
    text-decoration: white;
    color: white;

}

.nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 0.3em;
}

/* main */
.main {
    margin-top: -2em;
    background-color: white;
    padding: 0.3em;
    border-radius: 0.3em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;

}

@media (min-width: 768px) {
    .tienda {
        display: flex;
        gap: 1em;
    }

}

/* cards */

.card {
    background-color: #A6444C;
    overflow: hidden;
    color: white;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.car p {
    font-weight: 200;
}

/* Nosotros */

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #302c2d;
}

.nosotros-col-img {
    background-image: url("./img/nosotros-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 21.857em;
    width: 100%;
    order: 2;
}



.nosotros-col-text {
    order: 1;
}

/* puntos de quiebre */
@media (min-width: 576px) {
    .nosotros-col-img {
        height: 31.75em;
    }

}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}


.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200
}

/* footer */

.bg-footer {
    background-color: #302c2d;
    color: white;
}

.bg-footer p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}